.welcome-card {
    text-align: center;
    align-items: center;
    margin: 0 10px;
    position: relative;
}

.welcome-options {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 0 20px 20px;
}

.nav-title {
    font-family: 'Game Played Outline', sans-serif;
    color: var(--color-dark-black);
    font-size: 50px;
}

.welcome-option-group {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: var(--color-dark-black);
    border-radius: 15px;
    height: 3.6rem;

}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-dark-black);
}

.welcome-option {
    margin: 0 5px 0 5px;
    line-height: 1.4rem;
}

.welcome-option a {
    background-color: #303030d6;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Jawbreaker OL1 BRK', sans-serif;
    padding: 0 26px 0 2px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    color: #d2cfcf;
    padding: 0 10px;
    line-height: 1.4em;
}

.welcome-option a:hover {
    transform: scale(1.1);
    color: #000000b5;
    font-family: 'Jawbreaker OL1 BRK', sans-serif;
    background-color: #d2cfcf;
}

.welcome-option a.active {
    transform: scale(1.1);
    color: #000000b5;
    font-family: 'Jawbreaker OL1 BRK', sans-serif;
    background-color: #d2cfcf;
}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg)
    }

    .welcome-option-group {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: var(--color-dark-black);
        width: 100%;
        height: auto;
        text-align: center;
        transition: 0.3s;
        padding: 20px 0;
        z-index: 999;
    }

    .welcome-option-group.active {
        left: 0;
    }

    .welcome-option {
        margin: 10px 0;
    }

    .nav-title {
        font-size: 1.5rem;
    }

    .welcome-option a {
        font-size: 1rem;
        padding: 5px 15px;
    }
}