.content-body-portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.content-portfolio{
    margin-top: 20px;
}

.content-project{
    column-count: 2;
    column-width: 200px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
    font-family: 'Matias', sans-serif;
}

.content-project a{
    text-decoration: none;
    background-color: #000000b5;
    color: white;
    border-radius: 10%;
}

.content-project img{
    width: 450px;
    height: 300px;
    border-radius: 10%;
    background: radial-gradient(transparent 20%, white 70%);
}

.content-project-description p{
    /* padding: 0 40px 0 40px; */
    padding-left: 50px;
    font-size: 1rem;
    text-align: justify;
}

.content-project-picture{
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

@media only screen and (min-width: 805px) {
    .content-body-portfolio-mobile{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .content-body-portfolio{
        display: none;
    }
    
    .content-body-portfolio-mobile h1{
        font-size: 1rem;
    }

    .content-project-mobile{
        column-count: 1;
        column-width: 200px;
        margin: 50px 0 50px 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Matias', sans-serif;
    }
    .content-project-mobile h2 a{
        text-decoration: none;
        background-color: #000000b5;
        color: white;
        border-radius: 10%;
    }

    .content-project-mobile img{
        width: 400px;
        height: 250px;
        border-radius: 10%;
        background: radial-gradient(transparent 20%, white 70%);
    }

    .content-project-description-mobile p{
        text-align: justify;
        padding: 0 40px 0 40px;
    }

    .content-project-picture-mobile{
        filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    }
}